---
  title:Image Page
  body_classes: page
  meta_description:
  meta_keywords:
    - example
    - keywords
---

%main{role: 'main'}
  %article
    %img(src="http://vignette4.wikia.nocookie.net/periodictableofelements/images/e/e2/Stylised_Lithium_Atom.png/revision/latest?cb=20121208233952.png")
